Code: <h2>{{model.code}}</h2>

<br />
<br />

{{my-auto-complete options=options selectedValue=model.code placeHolderText="Find a thing" noMesssagePlaceHolderText="No things are found" showValue=true}}
